[submodule "AndroidApp/AfterXDesktopApp"]
	path = AndroidApp/AfterXDesktopApp
	url = https://github.com/CodeIn7/AfterXDesktopApp.git
[submodule "AfterXMobileApp"]
	path = AfterXMobileApp
	url = https://github.com/CodeIn7/AfterXMobileApp.git
[submodule "AfterXWebApp"]
	path = AfterXWebApp
	url = https://github.com/CodeIn7/AfterXWebApp.git
