.registerLink{
    color: white;
    text-decoration: underline;
}
.registerLink:hover {
    color: #1890ff;
}

.forgotPassLink{
    text-decoration: "underline";
    color: white;
}
.forgotPassLink:hover{
    color: #1890ff;
}